<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpNBPC6CMhhWCc1c9WX89BmygkRi82W18</string>
	<key>GCM_SENDER_ID</key>
	<string>979146667463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appPasanaku</string>
	<key>PROJECT_ID</key>
	<string>pasanaku-cc88b</string>
	<key>STORAGE_BUCKET</key>
	<string>pasanaku-cc88b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979146667463:ios:10495ac2601065841895e2</string>
</dict>
</plist>